################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Librarian.Domain/bin
/Librarian.Domain/obj
/Librarian.Infrastructure/bin
/Librarian.Infrastructure/obj
/Librarian.RestFulApi/bin
/Librarian.RestFulApi/obj
/Librarian.RestFulAPI.Tests/bin
/Librarian.RestFulAPI.Tests/obj
bin
obj
bin
obj
